# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment variables
.env
*.env

# Outputs and Temps
output_files/
temp_files/
dist/
build/

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
